# Ignore node_modules directory
node_modules/

# Ignore environment variables
.env

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore build artifacts
dist/
build/

# Ignore log files
*.log

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore dependency directories
jspm_packages/

# Ignore npm debug logs
npm-debug.log*

# Ignore local development files
.local